header{
    margin-top: 1% !important;
    background-color: antiquewhite !important;
    color: black !important;
}

header button{
    padding: 0px 11px !important;
    color: black !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

header .toolbar{
    min-height: 50px !important;
}

.footer{
    background: linear-gradient(90deg, rgba(80, 75, 43, 0.5) 0%, rgb(163 254 255 / 20%) 52%);
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.underfooter{
    background-color: black;
    color: antiquewhite;
}