.map{
background-color: rgb(16, 17, 17);
    min-height: 500px;
    h1{
        font-size: 100px;
        margin: 6px;
        margin-left: 5% !important;
    }
p{
    line-height: 1.5rem;
}
.globe{
    margin-top: -8% !important;
    div{
        height: 100% !important;
    }
}


@media screen and (min-width: 1608px) {
    .globe{
    margin-top: -22% !important;
    }
}

}

.snd{
    color: rgb(146, 146, 146);
}