.main{
    /* background-image: url('../../Assets/main.jfif'); */
    /* background-image: linear-gradient(to left,rgba(22, 28, 31, 0.4), rgba(7, 7, 10, 0.0)),url('../../Assets/main.jfif'); */
    background-image: linear-gradient(to right, rgba(22, 28, 31, 0.7), rgba(7, 7, 10, 0.2)), url('../../Assets/bghome.png');

    backdrop-filter: blur(2px) brightness(0.6);

    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -1%;
    padding-top: 3%;

}
.featured{

h1{
    color: antiquewhite;
    font-size: 29px;
}
hr{
    color: antiquewhite;
    width: 50%;
}
}
.overmain{
    background: linear-gradient(90deg, rgba(32, 32, 32, 0.8) 0%, rgba(115, 115, 115, 0.1) 52%);
    color: white;
    backdrop-filter: blur(2px) brightness(0.9);
    justify-content: center;
    display: flex;
    padding-top: 5%;
    font-size: 18px;
    height: 600px;
    /* height: 100%; */
    /* background-color: rgba(0,0,0,0.2); */
    /*box-shadow: 0px 2px 4px -1px rgba(211, 205, 205, 0.226), 0px 4px 5px 0px rgba(230, 222, 222, 0.219), 0px 1px 10px 0px rgba(59, 58, 58, 0.26) !important; */
    .productbutton{
        display: flex;
        align-items: center;
        a{
            display: flex;
        align-items: normal;
        }
        svg{
            transition: all 0.3s ease-in;
        }
    }
    .productbutton:hover{
        svg{
         padding-left: 5%;
    
        }
    }
}

.overmain:hover{
    backdrop-filter:  brightness(1.0);
}


.second {
    min-height: 480px;
    background-color: rgb(34, 34, 34);
    text-align: center;
    /* padding-top: 10%; */
    color: antiquewhite;
    height: auto;
}
.card{
    margin: 8%;
    /* margin-left: 2%; */
    background-color: rgba(7, 7, 10, 0.1) !important;
    color: antiquewhite !important;
    min-height: 450px;
    max-height: 480px;
    overflow: hidden;
    .content{
        padding: 3%;
        overflow-y: hidden ;
        height: 30px;
        padding-top: 0% !important;
        ::-webkit-scrollbar{
            display: none !important;
            width: 0 !important;
        }
    }
    .img{
        height: 300px;
        align-items: center;
        display: flex;
        background-color: rgb(37, 36, 36);
    }
    button{
        background-color: black;
    }
}
.card div  {
    color: wheat;
    text-align: left;
    font-family: 'Cormorant Garamond',source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    padding: 2%;
}
.card p  {
    color: rgb(236, 236, 236);
    font-family: 'Cormorant Garamond',source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.card img {
    height: auto;
}

.third {
    min-height: 400px;
    background-color: rgb(34, 34, 34);
    text-align: center;
    /* padding-top: 10%; */
    /* color: antiquewhite; */
    padding: 1%;
}

.forth{
    min-height: 400px;
    background-color: rgb(34, 34, 34);
    text-align: center;
    /* padding-top: 10%; */
    /* color: antiquewhite; */
    padding: 1%;
}

.right{
    background-color: rgb(51, 51, 51);

}

.tright{
    background-color: rgb(219, 217, 215);
}

.tleft{
    background-image: linear-gradient(to right, rgba(22, 28, 31, 0.7), rgba(7, 7, 10, 0.2)), url('../../Assets/main.jfif');

}

.fright{
    background-image: linear-gradient(to right, rgba(22, 28, 31, 0.7), rgba(7, 7, 10, 0.2)), url('../../Assets/main.jfif');

}

.fleft{
    background-color: rgb(219, 217, 213);

}

.productmodal{
    .MuiDialog-paper{
    background-color: rgb(34, 35, 36) !important;
    color: white !important;
    p{
        color: rgb(172, 164, 148);
    }
    }
}


@media screen and (max-width:880px) {
   .second, .third, .forth{
    min-height: 550x;
    // height: 550px;
   }
   .right, .fright, .fleft, .tleft, .tright{
    padding: 0 4%;
   }
  }