.contact{
    // Your section-level styles here
    justify-content: center;
    // background: #161616;
  // border-radius: 3vw;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url('../../Assets/main.jfif');

background-repeat: no-repeat;
background-size: cover;
color: white;
min-height: 100vh;
min-width: 100vw;
.overlay{
  backdrop-filter: blur(20px) ;
// height: 2200px ;
padding: 1% 3%;

}

}