@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

body {
  margin: 0;
  font-family: 'Cormorant Garamond',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Cormorant Garamond',source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.twh{
  color: white;
}

.pt10p{
  padding-top: 10%;
}

.pt17p{
  padding-top: 17%;
}

.w70p{
  width: 70%;
}

.divider{
  /* width: 14%; */
  color: burlywood;
  margin: 0 auto;
  background-color: rgb(233, 181, 122);
}

.bgmain{
  background-color: rgb(233, 181, 122) !important;

}

.p10p{
  padding: 10%;
}